//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary: #044389;
$warning: #f18805;
$info: #00cfe8;
$danger: #ea5455;
$success: #1f9d57;
$light: #4a7bbe;
$dark: #4b4b4b;
$purple: #7367f0;
$secondary: #82868b;
$background_3_gray: #FBFBFB;
$background_4_blue: #F0F7FA;
$background_5_green: #E4F3EB;