.custom-dialog{
    min-width: none !important;
    min-width: none !important;
    .dialog-s > .modal-dialog{
        width: 320px !important;
        max-width: 320px !important;
    }
    
    .dialog-m > .modal-dialog{
        width: 480px !important;
        max-width: 480px !important;
    }
    
    .dialog-l > .modal-dialog{
        width: 900px !important;
        max-width: 900px !important;
    }
    
    .dialog-max > .modal-dialog{
        width: 100% !important;
        max-width: 100% !important;
    }
    .dialog-s .vs-dialog{
        width: 320px !important;
    }
    
    .dialog-m .vs-dialog{
        width: 480px !important;
    }
    
    .dialog-l .vs-dialog{
        width: 900px !important;
    }
    
    .dialog-max .vs-dialog{
        width: 100% !important;
    }
    .vs-dialog{
        max-width: calc(100% - 20px) !important;
        // margin: auto 10px !important;
        min-width: auto !important;
    }
    &.no-footer > .vs-dialog > footer{
        padding: 1px !important;
    }
}
.vs-component.con-vs-dialog:not(.custom-dialog) {
    z-index: 52010;
}
// 450 to 1400
@for $i from 1 through 30 {
    .dialog-#{(400 + $i * 50)} .vs-dialog,
    .dialog-#{(400 + $i * 50)} > .modal-dialog{
        width: #{(400 + $i * 50)}px !important;
        // max-width: #{(400 + $i * 50)}px !important;
        max-width: calc(100% - 20px);
    }
}