/*================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
@import "dialogs.scss";
@import "extras.scss";
@import "./variables/variables";

.back-to-profile{
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.container-info{ display: flex; flex-direction: column; margin-bottom: .75rem; }
// .container-info > label{ font-size: .85rem }
.container-info:not(.marker) > label{
  font-size: 0.85rem;
  margin-bottom: .2857rem;
}
.container-info.marker > label{
  font-size: 0.85rem;
  margin-bottom: 0.7257rem;
}
.container-info-border { border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 5px; padding: 5px; margin-bottom: 1.25rem; }
.container-button{ padding-top: 2px;}
.horizontal-center{
  display: flex;
  > * {
    margin-left: auto;
    margin-right: auto;
  }
}
.form-group{
  margin-bottom: 0;
}
.w-full{
  width: 100%;
}
.push-left{
  float: left;
}
.push-right{
  float: right;
}
[dir] .page-item .page-link {
  height: 100%;
}
.table-render > div > div,
.table-render-skeleton{
  overflow-x: scroll;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.modal-body .table-render > div > div,
.modal-body .table-render-skeleton{
  overflow-x: scroll;
  margin-left: -1.4rem;
  margin-right: -1.4rem;
}
[dir].table-render-skeleton .b-skeleton-text {
  margin-bottom: 0.5rem !important;
  border-radius: 0.25rem;
}
.spacing-label-field{
  padding-top: calc(1.61rem) !important
}

.exterior-button{
  top: -5rem;
  position: relative;
  right: -1.5rem;
}
.inferior-button{
  margin: 1.25rem 0;
  display: flow-root;
}
.nav-search{
  &::marker{
    color: transparent;
  }
}

.modal.no-header > .modal-dialog > .modal-content {
  & > .modal-header{
    display: none;
  }
}
.cursor-pointer{
  cursor: pointer;
}

.v-select:not(.select-multiple)>.vs__dropdown-toggle>.vs__selected-options>.vs__selected {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 10;
  width: 100%;
  z-index: 10;
}
.v-select:not(.vs--open):not(.select-multiple)>.vs__dropdown-toggle>.vs__selected-options>.vs__search {
  position: absolute;
  width: 100%;
}
.v-select > div{
  min-height: 37.58px;
}
.vs__dropdown-menu{
  > li {
    > span {
      word-break: break-word;
      white-space: initial;
      // margin: 0.5rem;
    }
  }
}

.flex{
  display: flex;
}

.block{
  display: block;
}

.vertical-center{
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}
[dir] .b-table-sticky-header, [dir] .table-responsive, [dir] [class*=table-responsive-] {
  margin-bottom: 0rem !important; 
}
// :not(.vertical-overlay-menu.menu-open)
.vertical-layout > .main-menu.expanded .nav-item:not(.nav-header) {
  > a {
    width: 250px;
  }
  .text-wrap-menu{
    white-space: normal !important;
  }
}
.vertical-layout.vertical-overlay-menu.menu-open > .main-menu .nav-item:not(.nav-header) {
  > a {
    width: 250px;
  }
  .text-wrap-menu{
    white-space: normal !important;
  }
}

input::-ms-reveal{
  display: none;
}

#recaptcha > div {
  margin: auto;
}

.button-with-alert{
  display: inline-block;
}

.swal2-actions{
  flex-direction: row-reverse !important;
}

.swal2-confirm{
  padding: 0.786rem 1.7rem !important;
}
.msj-info{
  color: $success;
  background-color: $background_5_green;
  padding: 0.5rem;
}
@media only screen and (max-width: 800px) {
  .rate-logo-carrier {
    text-align: center;
  }
}
@media only screen and (min-width: 800px) {
  .rate-logo-carrier {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
.fieldCountry {
  width: 100%;
  padding-left: 2%;
}
.fieldCountry .row .selectCountry div{
  background: #fff;
}
.container-quoter-rows {
  background: $background_4_blue;
  min-height: 70px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.container-quoter-number {
  width: 40px;
  height: 40px;
  background: $primary;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  align-self: center;
  margin-left: -50px;
}
.quoterButton {
  margin-top: 2%;
  float: right;
}
.quoterCard {
  background: $background_3_gray;
  padding: 0 25px;
}